body {
  background: #f8f8f8; }

.headline {
  text-align: center;
  font-family: Helvetica Neue, Sans-Serif;
  font-size: 30px;
  z-index: -2;
  padding: 30px 0 30px 0; }

#image-text {
  text-align: center;
  font-family: Helvetica Neue, Sans-Serif;
  font-size: 30px;
  color: #fff;
  margin-top: -400px;
  vertical-align: middle;
  font-weight: 700; }

#gameDiv {
  width: 50%;
  margin: 0 auto;
  display: block; }

.img_banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  z-index: 0;
  margin-top: -100px;
  filter: brightness(50%);
  height: 500px;
  background-image: url("img/coffee-pic-main.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.top-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.headline-img {
  margin-top: 40px;
  z-index: 999;
  position: absolute;
  right: 0;
  left: 0;
  color: #f2f4f7; }

.btn-layout {
  border: 2px solid white;
  background: none;
  width: 200px;
  height: 55px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 30px; }

.headline_txt {
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 3px; }

@media (max-width: 980px) {
  .hide-container {
    display: none; }
  .col-md-8 {
    margin-left: 10%; }
  #image-text {
    font-size: 18px;
    margin-top: -300px; }
  img {
    margin-right: auto;
    margin-left: auto; } }

@media (max-width: 760px) {
  #image-text {
    font-size: 15px;
    margin-top: -200px; } }

@media (max-width: 1000px) {
  #gameDiv {
    width: 80%; } }

@media (max-width: 700px) {
  #gameDiv {
    display: none; } }

@media (min-width: 701px) {
  .mobile-display {
    display: none; } }

@media (min-width: 1000px) {
  #game-title {
    display: block;
    margin: 0 auto; } }
